.ProductDetails {
    align-items: center;
    max-width: 75%;
    margin: auto;
    margin-bottom: 5%;
    height: auto;
    margin-top: 5%;
    background: white;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.left,
.right {
    width: 50%;
    padding: 20px;
}

.right {
    text-align: left;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex1 {
    display: flex;
}

.main_image img {
    width: 80%;
    height: auto;
    object-fit: contain;
}


.ProductDetails h3 {
    color: #274C77;
    margin: 0 0 20px 0;
    font-size: 25px;
}

.ProductDetails h5,
.ProductDetails p,
small {
    color: #837D7C;
}

.ProductDetails p {
    margin: 20px 0 10px 0;
    line-height: 25px;
}

.ProductDetails h5 {
    font-size: 15px;
    padding-top: 5px;
}

.ProductDetails label {
    width: 25px;
    height: 25px;
    margin: 0 10px 20px 0;
}

.add label,
.add span {
    background: none;
    border: 1px solid #6096BA;
    color: #274C77;
    text-align: center;
    line-height: 20px;
}

.add label {
    padding: 10px 30px 0 20px;
    border-radius: 50px;
    line-height: 0;
}

.add span:hover {
    background-color: #6096ba;
    color: white;
    cursor: pointer;
}

.subtract-btn,
.add-btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-bottom: 4px;
    margin: 0 10px 20px 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.subtract-btn:hover,
.add-btn:hover {
    background: #6096ba;
}

.ProductDetails button {
    width: 90%;
}

.products {
    padding-bottom: 50px;
}

.star-rating {
    font-size: 1.5em;
}

.star-rating span {
    color: #ddd;
}

.star-rating span.filled {
    color: #ffd700;
}

.products h2 {
    padding-bottom: 30px;
}

.link-go-back {
    display: block;
    margin-bottom: 20px;
    color: #274C77;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.link-go-back:hover {
    color: #6096BA;
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 90%;
        margin: auto;
        height: auto;
    }

    .right {
        text-align: center;
    }

    .left,
    .right {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }
}

@media only screen and (max-width:511px) {
    .container {
        max-width: 100%;
        height: auto;
        padding: 10px;
    }

    .left,
    .right {
        padding: 0;
    }

    .right {
        text-align: center;
    }

    img {
        width: 100%;
        height: 100%;
    }
}